#/.idea/modules.xml
#/.idea/inspectionProfiles/profiles_settings.xml
#/.idea/Szkola_Chmury.iml
#/.idea/vcs.xml
#/.idea/workspace.xml

/.idea/*
sample_data/
*.code-workspace
*.json
*.yml
*.yaml
materials/
.gcloudignore
.python-version
flex/
standard/